.score-div{
  display: flex;
  flex-direction: row;
  position: relative;
  top:250px;
  height: 30vh;
  /* background:purple; */
}
.score-inner-div{
  margin:0 auto;
}
.score{
  font-size:34px;
  font-weight: bold;
  color:tomato;
  float: right;
}
.score-text{
  float: left;
  font-size:34px;
  font-weight: none;
  opacity: 0.5;
}
.totalQues{
  font-size:34px;
  font-weight: bold;
  color:gray;
}
.btn-primary{
  font-family: 'Lobster', cursive;
  font-size:28px;
  word-spacing: 7px;
}